[Unit]
Description=fp_update

[Service]
Type=simple
User=luca
Group=luca
WorkingDirectory=/home/luca/fairphone_mirrors/
ExecStart=/home/luca/fairphone_mirrors/update_all.sh
